DOMAIN=https://rag.c4all.com
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,rag.c4all.com
DJANGO_SECRET_KEY="django-insecure-+!fb44ywyz7$*z*sn0crmsvuly&70l^^vrly+!@7x4q9p7"

POSTGRES_DB=rag
POSTGRES_USER=magoreal
POSTGRES_PASSWORD=ojalaque!
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/1

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

EMAIL_HOST=premium175.web-hosting.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=admin@btspti.com
EMAIL_HOST_PASSWORD=admin10203040!
DEFAULT_FROM_EMAIL=admin@btspti.com

OPENAI_API_KEY=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
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="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"
LANGSMITH_PROJECT="pr-artistic-tension-20"