{% extends 'base.html' %}
{% load tailwind_tags widget_tweaks %}

{% block css %}
    {% tailwind_css %}
{% endblock css %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="hidden menu-active bg-secondary"></div>
<div class="container mx-auto px-4 py-12">
    <!-- Cards container -->
    <div class="flex flex-wrap justify-center gap-6 mb-6">
        <!-- Card estilo iOS para abrir el modal -->
        <div onclick="modal_crear.showModal()" 
             class="w-64 bg-white rounded-2xl p-4 shadow-card">
            <div class="bg-primary/10 p-3 rounded-xl">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="currentColor" d="M0 462h256v-64H0v64zm0-106.7h512v-64H0v64zm0-106.6h512v-64H0v64zM0 78v64h512V78H0z"/></svg>
            </div>
            <div>
                <h3 class="font-semibold">Párrafos</h3>
                <p class="text-md text-secondary">Simple texto con metadatos</p>
            </div>
        </div>

        <!-- Card for Markdown Titles -->
        <a href="{% url 'embeddings:MDTitles' %}" 
           class="w-64 bg-white rounded-2xl p-4 shadow-card">
            <div class="bg-primary/10 p-3 rounded-xl">
                {% include 'icons/md.html' %}
            </div>
            <div>
                <h3 class="font-semibold">Markdown - Títulos</h3>
                <p class="text-md text-secondary">Dividir texto por títulos</p>
            </div>
        </a>

        <!-- Card for Markdown Subdivide -->
        <a href="{% url 'embeddings:MDSubdivide' %}" 
           class="w-64 bg-white rounded-2xl p-4 shadow-card">
            <div class="bg-primary/10 p-3 rounded-xl">
                {% include 'icons/md.html' %}
            </div>
            <div>
                <h3 class="font-semibold">Markdown - Subdividir</h3>
                <p class="text-md text-secondary">Dividir documentos por párrafo / palabras</p>
            </div>
        </a>
    </div>

    <!-- Modal -->
    {% include "modals/m_parrafo.html" %}
</div>
{% endblock content %}
