{% extends 'base_chat.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Panel de control">
{% endblock %}

{% block title %}
Panel de control
{% endblock %}

{% block body_class %}h-full flex flex-col{% endblock %}

{% block content %}
<div class="flex flex-col justify-between items-center h-screen ">
    <div></div>
    <div class="w-sm p-8 space-y-3 rounded-xl bg-base-300 mx-auto">
        <a 
        href="{% url 'chat:chat_legal' %}" 
        class="btn btn-secondary w-full">Asistente Legal (Codigo Civil)</a>

    </div>
    {% include 'footer.html' with footer_text='magoreal' %}
</div>

{% endblock %}